.ui.main.container.relaxed
  %h2 A propos

  %h3 Vite un lieu, c'est quoi ?

  %p
    %i Vite un lieu
    est une plateforme développée par la Ville de Paris dans le cadre du programme Startup de Ville. Fruit du travail de terrain d'agents de la Ville ayant passé de nombreuses années au contact des associations, elle a pour objectif de vous permettre de trouver rapidement une salle, ou plus largement un espace correspondant à vos besoins dans le cadre d'activités que vous souhaitez organiser.
  %p
    Il peut s'agir à titre d'exemples de réunions de conseil d'administration, d'assemblées générales, de groupes de travail, de formations, de réunions publiques d'information, de répétitions de spectacle, de cours de yoga, de soutien scolaire...

  %h3 Qui sommes-nous ?

  %p
    %i Vite un lieu
    est une <a href="http://missioncapitale.paris.fr/57/horizons/lactu-de-la-ville/lancement-de-start-up-de-ville/">Startup de Ville</a>. Nous sommes un service public numérique de la Ville de Paris produit par une petite équipe autonome. Nous appliquons les pratiques des startups du numérique au service de l’action publique. Le programme Startup de Ville s'inspire de la philosophie, des principes, et de l'expérience des <a href="https://beta.gouv.fr">Startups d'Etat de l'Incubateur de Services Numériques</a> au sein du Secrétariat Général pour la Modernisation de l'Action Publique auprès du Premier Ministre.
