.ui.vertical.masthead.center.aligned.inverted.segment
  .ui.container
    .ui.large.secondary.inverted.pointing.menu
      %a.toc.item
        %i.sidebar.icon
      %a.active.item{:href => "/"}
        Accueil
      =link_to a_propos_path, class: 'item' do
        A propos
        = image_tag 'mairie-de-paris.png', class: 'logo-secondary ui'
      .right.item= link_to 'Proposer une salle', new_propositions_salle_path, class: 'ui inverted button'
  .ui.justified.container
    %h1#nom-produit.ui.inverted.header
      Vite, un lieu !
    %h2#proposition-valeur
      Vous êtes une association ?
      %br
      Paris vous aide à trouver une salle pour
      %br
      vos réunions, vos événements, vos activités collectives
    #cta
      - if ENV["STANDBY"] == "true"
        .ui.icon.teal.large.message
          %i.announcement.icon
          .content
            .header
              Le service "Vite un lieu" est en pause !
            %p
              Nous sommes fiers de vous annoncer que La Startup de Ville "Vite un lieu !" a trouvé ses premiers usagers satifsaits ! Nous mettons en pause pour l'instant notre service pour préparer le passage à l'échelle à l'ensemble de la Ville de Paris
      - else
        = link_to 'Déposer une demande', new_demande_path, class: 'ui teal right button huge'
