.ui.container.main.relaxed
  %header.header
    %h1 Importer des salles

  = form_tag salles_import_path, multipart: true do
    .field
      .ui.action.file.input
        = file_field_tag 'fichier_import'
        = label_tag 'fichier_import', class: 'ui icon button' do
          %i.attach.icon
      = button_tag "Lancer l'import", data: { disable_with: "En cours d'import..." }, class: 'ui icon button'
