= form_for @salle, url: url,  html: { class: 'ui large form container salle' } do |f|
  - if @salle.errors.any?
    #explication_erreurs.ui.negative.message
      .header= "Impossible de proposer la salle"
      %ul.list
        - @salle.errors.full_messages.each do |message|
          %li= message
  .inline.fields
    = f.label "Niveau de qualification"
    .field
      .ui.radio.checkbox
        = f.radio_button :qualification, "brut"
        = f.label "Brut"
    .field
      .ui.radio.checkbox
        = f.radio_button :qualification, "prospect"
        = f.label "Prospect"
    .field
      .ui.radio.checkbox
        = f.radio_button :qualification, "prequalifiee"
        = f.label "Pre-qualifiée"
  .inline.fields
    .required.field
      = f.label :nom_lieu
      = f.text_field :nom_lieu
    .required.field
      = f.label :nom_salle
      = f.text_field :nom_salle
  .inline.fields
    .required.field
      = f.label :adresse
      = f.text_field :adresse
    .required.field
      = f.label :code_postal
      = f.text_field :code_postal, size: 5
    .required.field
      = f.label :ville
      = f.text_field :ville
  .inline.fields
    .required.field
      = f.label :email
      = f.text_field :email
    .required.field
      = f.label :tel
      = f.text_field :tel
    .required.field
      = f.label :web
      = f.text_field :web
  .field
    = f.label     :horaires_ouverture
    = f.text_area :horaires_ouverture, rows: 2
  .inline.fields
    .required.field
      = f.label :superficie
      = f.number_field :superficie
    .required.field
      = f.label :capacite
      = f.number_field :capacite
    .field
      = f.label :capacite_assemblee
      = f.number_field :capacite_assemblee

    .field
      = f.label :capacite_avec_tables
      = f.number_field :capacite_avec_tables
    .field
      = f.label :capacite_cocktail
      = f.number_field :capacite_cocktail
  .fields
    .field
      = f.label :tarif_heure
      = f.number_field :tarif_heure
    .field
      = f.label :tarif_demi_journee
      = f.number_field :tarif_demi_journee
    .field
      = f.label :tarif_journee
      = f.number_field :tarif_journee
    .field
      = f.label :temps_min_reservation, "Temps min réservation (h)"
      = f.number_field :temps_min_reservation
  .field
    = f.label :activites, "Type d'activités acceptées"
    = f.text_field :activites
  .field
    = f.label :precisions
    = f.text_area :precisions, rows: 2
  .actions
    = f.submit label_premier_submit, class: 'ui submit button teal huge'
    - if defined? label_second_submit
      = f.submit label_second_submit, class: 'ui submit button huge'
    - if @salle.draft?
      = f.submit t('salles.validation_submit'), class: 'ui submit button huge'
