%table.ui.striped.table
  %thead
    %tr
      %td Nom
      %td Capacité
      %td Tarif minimum
      %td Tel
      %td Email
      %td Horaires ouverture
      %td Activites
      %td Adresse
      %td Precisions
  %tbody.salles
    - @salles.each do |salle|
      %tr.salle
        %td.nom= salle.nom
        %td= salle.capacite
        %td= salle.tarif_minimum
        %td= salle.tel
        %td= salle.email
        %td= salle.horaires_ouverture
        %td= salle.activites
        %td= salle.adresse
        %td= salle.precisions
        %td= link_to 'Editer', edit_salle_path(salle), class: 'ui button'

