.ui.grid.container.main.relaxed
  .ui.stacked.segment.attached.huge
    %h3
      Désolé ! Cette demande a déjà trouvé un lieu pour répondre à son besoin.
    %p
      Merci toutefois d'avoir manifesté de l'intérêt pour cette demande. Nous espérons qu'une prochaine demande puisse très prochainement être accueillie dans votre lieu.
