.ui.container.main.relaxed
  .ui.stackable.grid
    .five.wide.column
      .demande.ui.card
        .content
          .header= "Demande de salle déposée le #{l(@demande.created_at.to_date)}"
          .meta
            = "#{@demande.nom_association} (#{@demande.nom_demandeur})"
          .meta= @demande.email_demandeur
          .meta= @demande.tel_demandeur
          .description
            = @demande.nb_participants
            participants
            %br
            Date :
            = @demande.date
            %br
            Duree :
            = @demande.duree
            %br
            Budget :
            = @demande.budget
            €
            %br
            Precisions :
            = @demande.activite
    .eleven.wide.column
      %header.header
        %h1= @salle.nom
      .ui.stacked.teal.segment
        Vous pouvez contacter
        = @demande.nom_demandeur
        de l'association
        = @demande.nom_association
        %ul
          %li
            Par mail:
            = mail_to @demande.email_demandeur
          %li
            Par tel:
            = @demande.tel_demandeur
