.ui.container.main.relaxed
  %header.header
    %h1 Salles
    .ui.secondary.teal.menu
      = link_to salles_path, class: item_css_classes(salles_path) do
        Salles validées
        .ui.label= Salle.confirmees.count

      = link_to brut_salles_path, class: item_css_classes(brut_salles_path) do
        Salles brutes
        .ui.label= Salle.brut.count

      = link_to prospects_salles_path, class: item_css_classes(prospects_salles_path) do
        Salles prospects
        .ui.label= Salle.prospects.count

      = link_to prequalifiees_salles_path, class: item_css_classes(prequalifiees_salles_path) do
        Salles pré-qualifiées
        .ui.label= Salle.prequalifiees.count
      .ui.right.menu
        = link_to 'Importer des salles', new_salles_import_path, class: 'item'
        = link_to 'Ajouter une salle', new_salle_path, class: 'item'

  .ui.segment
    = form_tag request.path, method: :get, id: 'recherche_form', class: 'ui form' do
      .fields
        .field
          = label_tag :nom_lieu, 'Nom du lieu'
          = text_field_tag :nom_lieu, params[:nom_lieu], placeholder: 'Lieu'
        .field
          = label_tag :code_postal
          = text_field_tag :code_postal, params[:code_postal], placeholder: 'Code postal', size: 10
        .field
          = label_tag :capacite_min, 'Capacité min'
          = text_field_tag :capacite_min, params[:capacite_min]
        .field
          = label_tag :capacite_max, 'Capacité max'
          = text_field_tag :capacite_max, params[:capacite_max]
        .field
          = label_tag :source
          = text_field_tag :source, params[:source]
      = button_tag class: 'ui teal icon submit button' do
        Rechercher

        %i.search.icon
      = link_to 'Exporter', params.merge(format: :csv).permit(:nom_lieu, :code_postal, :source, :format), class: 'ui right button'
  .ui.horizontal.segments
    .ui.segment.basic
      .ui.large.header= "#{@nb_salles_trouvees} salles trouvées"
    .ui.segment.nav-pagination= paginate @salles

  %table.ui.striped.table
    %thead
      %tr
        %td Nom
        %td Capacité
        %td Tarif minimum
        %td Code Postal
        %td Source
    %tbody.salles
      - @salles.each do |salle|
        %tr.salle
          %td.nom= salle.nom
          %td= salle.capacite
          %td= salle.tarif_minimum
          %td= salle.code_postal
          %td= salle.source
          %td
            = link_to edit_salle_path(salle), class: 'ui icon button' do
              %i.class.edit.icon
          %td
            = link_to salle_path(salle), method: :delete, class: 'ui icon button' do
              %i.class.remove.icon
          - if salle.web.present?
            %td
              = link_to "http://#{salle.web}", target: '_blank', class: 'ui icon button' do
                %i.class.world.icon

  = paginate @salles
