.ui.main.container.relaxed
  %h2 Créer une salle
  = render partial: 'form', locals: { url: salles_path, label_premier_submit: t('salles.creation_submit'), label_second_submit: t('salles.creation_et_ajout_submit') }
