%p#notice= notice

%p
  %b Nom:
  = @salle.nom
%p
  %b Adresse:
  = @salle.adresse
%p
  %b Email:
  = @salle.email
%p
  %b Tel:
  = @salle.tel
%p
  %b Horaires ouverture:
  = @salle.horaires_ouverture
%p
  %b Capacite:
  = @salle.capacite
%p
  %b Tarif minimum:
  = @salle.tarif_minimum
%p
  %b Activites:
  = @salle.activites
%p
  %b Precisions:
  = @salle.precisions

= link_to 'Edit', edit_salle_path(@salle)
\|
= link_to 'Back', salles_path
