/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
body {
  background-color: #FFFFFF;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.ui.menu .item img.logo-secondary {
  margin-left: 1.5em;
  margin-right: 1.5em;
  width: 12em;
}
.messages {
  margin-top: 7em;
}
.main.container {
  margin-top: 7em;
  margin-bottom: 4em;
}
.ui.footer.segment {
  padding: 5em 0em;
}
footer img.logo {
  height: 1.4em;
}

.demande.ui.centered.card {
  margin-top: 15em;
}
.form .hint {
  margin-top: 1.5em;
}
tr.demande.a_traiter {
  background: red;
  color: white;
}
tr.demande.a_contacter {
  background: orange;
  color: white;
}
tr.demande.contactee {
  background: green;
  color: white;
}

.nav-pagination {
  margin-top: 2em;
  margin-bottom: 2em;
}
