.button {
  background-color: #00b5ad;
  color: white;
  text-decoration: none;
  min-height: 1em;
  margin: 2em 0.25em 1em 0em;
  padding: 0.78em 1.5em 0.78em;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 0.28rem;
}

#footer {
  margin-top: 3rem;
  font-size: 0.8rem;
}

#footer img {
  height: 1.4em;
}
