%h2
  Demande de salle via le service "Vite, un lieu !"
%p
  = "Bonjour #{@demande.nom_demandeur}"
%p
  = "Vous avez déposé la demande suivante pour le compte de #{@demande.nom_association}"
  %ul
    %li= "#{@demande.nb_participants} participants"
    %li= "Date: #{@demande.date}"
    %li= "Téléphone: #{@demande.tel_demandeur}"
    %li= "Mail: #{@demande.email_demandeur}"
    %li= "Activité: #{@demande.activite}"

%p
  L'équipe de
  %i Vite un lieu
  se met en quête de la salle dont vous avez besoin. Nous revenons vite vers vous pour vous faire une proposition.
  %ul


#footer
  La plateforme "Vite un lieu" est en version expérimentale, dans le cadre du programme Startup de Ville de la ville de Paris.
  %br
  = image_tag('mairie-de-paris.png')
