\-------------------------------------------------
Demande de salle via le service "Vite, un lieu !"
\-------------------------------------------------

= "Bonjour #{@demande.nom_demandeur}"

= "Vous avez déposé la demande suivante pour le compte de #{@demande.nom_association}"
= "- #{@demande.nb_participants} participants"
= "- Date: #{@demande.date}"
= "- Téléphone: #{@demande.tel_demandeur}"
= "- Mail: #{@demande.email_demandeur}"
= "- Activité: #{@demande.activite}"

L'équipe de Vite un lieu se met en quête de la salle dont vous avez besoin. Nous revenons vite vers vous pour vous faire une proposition.

\-------------------------------------------------

La plateforme "Vite un lieu" est en version expérimentale, dans le cadre du programme Startup de Ville de la ville de Paris.
