%h2 Une salle va bientôt vous contacter

%p
  Vous avez déposé la demande suivante sur notre plateforme "Vite un lieu"

  %ul
    %li= "#{@demande.nb_participants} participants"
    %li= "Date: #{@demande.date}"
    %li= "Activité: #{@demande.activite}"
%p
  La salle
  = @salle.nom
  est intéressée pour répondre à votre demande. Elle va bientôt prendre contact avec vous. 

%p
  Vous pouvez également la contacter si vous le souhaitez par téléphone au
  = @salle.tel
  ou par mail
  = mail_to(@salle.email)

%p
  = link_to demande_url(@demande) do
    %button.button Cloturer la demande
  %br
  Si vous ne souhaitez plus être contacté pour cette demande, vous pouvez la clôturer.

