%h2
  Demande de salle via le service "Vite, un lieu !"

%p
  Madame, Monsieur,

%p
  Votre salle
  = @salle.nom
  est répertorié dans les espaces disponibles à la location temporaire pour des associations parisiennes sur la nouvelle plateforme  "Vite, un lieu" de la Ville de Paris. La plateforme n'est pas encore en ligne mais l'équipe procède à des tests en situation réelle, sur des besoins ponctuels d'associations inscrites dans des Maisons des Associations. 

%p
  = "L'association #{@demande.nom_association} a sollicité notre plateforme, nous pensons que votre lieu peut correspondre à sa recherche, sous réserve de disponibilité aux dates et horaires sollicités."

%p
  Voici la demande :
  %ul
    %li= "#{@demande.nb_participants} participants"
    %li= "Date: #{@demande.date}"
    %li= "Activité: #{@demande.activite}"

Si ce besoin vous semble pouvoir être accueilli dans vos locaux, vous pouvez contacter l'association directement.
%p
  = link_to contacte_demandeur_url(@salle.id, @demande.id) do
    %button.button Contacter directement l'association
%p
  Vous pouvez également me joindre au 06 59 80 05 77.

%p
  Vous remerciant de votre attention et de votre diligence,

%p
  Bien cordialement,
%p
Jean Karinthi
%br
Responsable de la Plateforme
%br
#footer
  La plateforme "Vite un lieu" est en version expérimentale, dans le cadre du programme Startup de Ville de la ville de Paris.
  %br
  = image_tag('mairie-de-paris.png')
