= form_for @demande, html: { class: 'ui large form container demande' } do |f|
  - if @demande.errors.any?
    #explication_erreurs.ui.negative.message
      .header= "Impossible de déposer cette demande"
      %ul.list
        - @demande.errors.full_messages.each do |message|
          %li= message
  .equal.width.fields
    .required.field
      = f.label :nom_association, "Nom de l'association"
      = f.text_field :nom_association
    .required.field
      = f.label :nom_demandeur, 'Votre nom'
      = f.text_field :nom_demandeur
  .inline.fields
    .required.eight.wide.field
      = f.label :tel_demandeur, 'Votre téléphone'
      = f.text_field :tel_demandeur
    .required.eight.wide.field
      = f.label :email_demandeur, 'Votre email'
      = f.text_field :email_demandeur

  .inline.fields
    .required.eight.wide.field
      = f.label :date, 'A quelle date souhaitez-vous réserver une salle ?'
      = f.text_field :date
    .required.eight.wide.field
      = f.label :duree, 'A quelle heure ?'
      = f.text_field :duree, placeholder: 'De 19h à 21h'
  .inline.fields
    .required.field
      = f.label :nb_participants, 'Nombre de participants'
      = f.number_field :nb_participants

  %h5 Disposition de la salle
  .inline.fields
    .field
      = f.radio_button :disposition, :sans_preference, checked: true
      = f.label :disposition_avec_table, 'Sans préférence'
    .field
      = f.radio_button :disposition, :avec_tables
      = f.label :disposition_avec_table, 'Réunion (Avec tables)'

    .field
      = f.radio_button :disposition, :theatre
      = f.label :disposition_theatre, 'Assemblée (Avec chaises + tribune)'
  .required.field
    = f.label :activite, "Que souhaitez-vous faire dans la salle ?"
    = f.text_area :activite, rows: 2, placeholder: "Assemblée Générale, Répétition théâtre, ..."
  .field
    = f.label :quartier, "A proximité de quelle adresse ou quel quartier souhaitez-vous une salle ?"
    = f.text_field :quartier
  %p.hint
    %i L'équipe de Vite un lieu vous conseille d'ajouter le plus de précisions possibles.L'expérience montre que plus une demande est précise, plus elle a de chances d'avoir une réponse rapidement.
  .actions
    = f.submit 'Déposer la demande', class: 'ui submit button fluid teal huge'
