.ui.grid.container.main.relaxed
  .ui.stacked.segment.attached.huge
    %p
      Votre demande a bien été déposée.
      L'équipe de
      %i Vite un lieu
      se met en quête de la salle dont vous avez besoin. Nous revenons vite vers vous pour vous faire une proposition.


