.ui.main.container.relaxed
  %h1 Demandes déposées

  #demandes-menu.ui.top.attached.tabular.menu
    %a.item.active{"data-tab": 'en-cours'} En cours
    %a.item{"data-tab": 'cloturees'} Clôturées
  .ui.bottom.attached.tab.segment.active{"data-tab": 'en-cours'}
    %table.ui.fixed.table
      %thead
        %tr
          %th Déposé le
          %th Nom association
          %th Date
          %th Duree
          %th Nb participants
          %th Notifications
          %th Contacts
          %th.four.wide Actions

      %tbody.demandes-en-cours
        - @demandes_en_cours.each do |demande|
          %tr{class: "demande #{demande.statut}"}
            %td= l(demande.created_at, format: :short)
            %td= demande.nom_association
            %td= demande.date
            %td= demande.duree
            %td= demande.nb_participants
            %td= demande.notifications_count
            %td= demande.contacts_count
            %td
              = link_to cloture_demande_path(demande.secret_id),method: :post do
                %button.ui.warning.button Cloturer
              = link_to demande_path(demande.secret_id) do
                %button.ui.primary.button Traîter
  .ui.bottom.attached.tab.segment{"data-tab": 'cloturees'}
    %table.ui.striped.fixed.table
      %thead
        %tr
          %th Déposé le
          %th Nom demandeur
          %th Nom association
          %th Date
          %th Duree
          %th Nb participants
          %th Budget
          %th Activite
          %th Clôturé le

      %tbody.demandes-cloturees
        - @demandes_cloturees.each do |demande|
          %tr.demande
            %td= link_to l(demande.created_at, format: :short), demande
            %td= demande.nom_demandeur
            %td= demande.nom_association
            %td= demande.date
            %td= demande.duree
            %td= demande.nb_participants
            %td= demande.budget
            %td= truncate(demande.activite)
            %td= l(demande.cloture_le, format: :short)
