.ui.container.main.relaxed
  .ui.stackable.grid
    .five.wide.column
      .demande.ui.card
        .content
          .header= "Demande de salle déposée le #{l(@demande.created_at.to_date)}"
          - if @demande.cloturee?
            .header= "Demande clôturée le #{l(@demande.cloture_le.to_date)}"
          .meta
            = "#{@demande.nom_association} (#{@demande.nom_demandeur})"
          .meta= @demande.email_demandeur
          .meta= @demande.tel_demandeur
          .description
            = @demande.nb_participants
            participants
            %br
            Date :
            = @demande.date
            %br
            Duree :
            = @demande.duree
            %br
            Budget :
            = @demande.budget
            €
            %br
            Precisions :
            = @demande.activite
        - unless @demande.cloturee?
          .extra.content
            = link_to cloture_demande_path(@demande), method: :post do
              .ui.basic.teal.button Clôturer la demande
    .eleven.wide.column
      %header.header
        %h1 Salles correspondantes
        - if @autres_salles_correspondantes
          = link_to autres_salles_correspondantes_path(@demande, limite: @limite) do
            .ui.basic.teal.button Proposer des salles supplémentaires
      %table.ui.striped.table
        %thead
          %tr
            %th
            %td Nom
            %td Capacité
            %td Tarif minimum
            %td Tel
            %td Adresse
        %tbody.salles.correspondantes
          - @salles_correspondantes.each do |salle|
            %tr{id: "salle-#{salle.id}"}
              %td
                = action_ou_evenements_pour_salle(salle, @demande)
              %td= salle.nom
              %td= salle.capacite
              %td= salle.tarif_minimum
              %td= salle.tel
              %td= salle.adresse
