.ui.container.main.relaxed
  .ui.stackable.grid
    .five.wide.column
      .demande.ui.card
        .content
          .header= "Demande de salle déposée le #{l(@demande.created_at.to_date)}"
          - if @demande.cloturee?
            .header= "Demande clôturée le #{l(@demande.cloture_le.to_date)}"
          .meta
            = "#{@demande.nom_association} (#{@demande.nom_demandeur})"
          .meta= @demande.email_demandeur
          .meta= @demande.tel_demandeur
          .description
            = @demande.nb_participants
            participants
            %br
            Date :
            = @demande.date
            %br
            Duree :
            = @demande.duree
            %br
            Budget :
            = @demande.budget
            €
            %br
            Precisions :
            = @demande.activite
        - unless @demande.cloturee?
          .extra.content
            = link_to cloture_demande_path(@demande), method: :post do
              .ui.basic.teal.button Clôturer la demande
