%footer.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        %h4.ui.inverted.header A propos
        .ui.inverted.link.list
          = link_to "Qui sommes-nous ?", a_propos_path, class: 'item'
          = link_to "Statistiques", stats_path, class: 'item'
          = link_to "Espace administration", demandes_path, class: 'item'
      .seven.wide.column
        %h4.ui.inverted.header Version expérimentale
        %p La plateforme "Vite, un lieu" est en version expérimentale, dans le cadre du programme Startup de Ville de la ville de Paris
