%header.ui.fixed.inverted.menu
  .ui.container
    %a.header.item{:href => "/"}
      = image_tag("logo.png", class: "logo")
      Vite, un lieu !
    = item_link_to "A propos", a_propos_path
    - if admin?
      .right.menu
        = item_link_to 'Demandes', demandes_path
        = item_link_to 'Salles', salles_path
