.ui.container.messages
  - if notice
    .ui.positive.icon.message
      %i.info.icon
      .content
        = notice
  - if alert
    .ui.negative.icon.message
      %i.warning.icon
      .content
        = alert
