!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Vite, un lieu !
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
  %body
    = render 'layouts/header'
    = render 'layouts/messages'
    = yield
    = render 'layouts/footer'
    = javascript_include_tag 'application'
